<div class="relative w-100 nested-copy-line-height">
  <div class="pa3 pa4-l gray overflow-hidden">
    <time class="f6 db tracked" {{ printf "datetime=%q" (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Date.Format "2006-01-02" -}}
    </time>
    <h1 class="f3 near-black">
      <a href="{{ .Permalink }}" class="black dim no-underline">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 f4-l lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
    <a href="{{.Permalink}}" class="ba b--moon-gray bg-light-gray br2 black dib f5 hover-bg-moon-gray mt2 ph3 pv2 bg-animate no-underline">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
  </div>
</div>
